@import url('https://fonts.googleapis.com/css?family=Raleway:100i,400');
.container{
    /*margin: 10px;*/
    max-width: 800px;
    font-family: 'Raleway', sans-serif;
}
.logo{
    height: 150px
}

.header{
    /*height: 5px*/
    margin: 10px
}

.heading{

}

.seperator{
  border-style: solid none;
  border-width: 1px 0;
}

.main-picture{
    width: 100%;
    /*height: 250px*/
    max-height: 400px
}

.project{
    /*background-color: #ccc;*/
    /*color: #fff;*/
}
@media only screen and (max-width: 500px) {
    .heading{
        text-align: center
    }
    .container{
        text-align: center;
        /*margin: 10px*/
    }
    .logo{
        margin-left: auto;
        margin-right: auto
    }
}