@import url('https://fonts.googleapis.com/css?family=Raleway:100i,400');
@import url('http://weloveiconfonts.com/api/?family=zocial');

.container{
    font-family: 'Raleway', sans-serif;
}

.project > img {
    box-shadow: 10px 5px 10px #9e9e9e;
}

.seperator{
  border-style: solid none;
  border-width: 1px 0;
}

.main-picture{
    width: 100%;
}

.logo{
    height: 20vh;
}


/* this is the font zocial style for setting facebook ,twitter, github icon on webpage */

[class*="zocial-"]:before {
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px #aaa;
    width: 2em;
}


a:hover [class*="zocial-"]:before {
    color: #5191cc;
}

footer{
    text-align: right
}

#social a {
    margin: 0 1em 0 0;
}

#social a:last-of-type {
    margin: 0;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

@media only screen and (max-width: 780px) {
    *{
        text-align: center
    }
    .project > img {
        width: 100%
}

}